@using System.Web.Mvc.Html
@using Sitecore.Mvc
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Grid.Extensions
@using Sitecore.XA.Foundation.Theming.Bundler
@using Sitecore.XA.Foundation.Theming.Models
@using Sitecore.XA.Foundation.Theming.Services
@using Sitecore.XA.Foundation.Theming.Configuration
@using Microsoft.Extensions.DependencyInjection
@using Sitecore.DependencyInjection
@using SXA.Theme.Optimizations.Services
@using SXA.Theme.Optimizations.Enums
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var assetConfiguration = AssetConfigurationReader.Read();
    var assetLinks = AssetLinksGenerator.GenerateLinks(new ThemesProvider());
    var includes = ServiceLocator.ServiceProvider.GetService<IHTMLIncludesService>().GetHTMLIncludes();

    var themeOptimizationSettings = CachingService.GetThemeOptimizationsSettings();
    var scriptsRenderAttribute = themeOptimizationSettings.RenderScriptsAs == ScriptAttributes.Async ? "async" : themeOptimizationSettings.RenderScriptsAs == ScriptAttributes.Defer ? "defer" : string.Empty;
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="@Model.Item.Language.Name">
<!--<![endif]-->
<head>
    @if (!assetConfiguration.RequestAssetsOptimizationDisabled && !Sitecore.Context.PageMode.IsExperienceEditor && themeOptimizationSettings.ScriptsLocation == ScriptLocations.Top)
    {
        <script @scriptsRenderAttribute src="@themeOptimizationSettings.ScriptUrl"></script>
    }

    @foreach (string style in assetLinks.Styles)
    {
        if (themeOptimizationSettings.DeferCss)
        {
            @Html.Raw(style.Replace("rel=\"stylesheet\"", "rel=\"preload\" as=\"style\""))
        }

        @Html.Raw(style)
    }

    @foreach (var include in includes.Head)
    {
        @Html.Raw(include.HTML)
    }

    @Html.Sxa().VisitorIdentification()
    @Html.Sxa().Placeholder("head")
</head>
<body @Html.Sxa().Body().Decorate()>
    @Html.Sitecore().Placeholder("body-top")

    @foreach (var include in includes.BodyTop)
    {
        @Html.Raw(include.HTML)
    }

    @Html.Sxa().GridBody()

    @Html.Sitecore().Placeholder("body-bottom")

    @foreach (var include in includes.BodyBottom)
    {
        @Html.Raw(include.HTML)
    }

    @if (assetConfiguration.RequestAssetsOptimizationDisabled || Sitecore.Context.PageMode.IsExperienceEditor)
    {
        foreach (string include in assetLinks.Scripts)
        {
            @Html.Raw(include)
        }
    }
    else if (themeOptimizationSettings.ScriptsLocation == ScriptLocations.Bottom)
    {
        <script @scriptsRenderAttribute src="@themeOptimizationSettings.ScriptUrl"></script>
    }

    <!-- /#wrapper -->
</body>
</html>